/*
Dionysos
Copyright (C) 2020 Felix v. Oertzen

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

* {
  font-family:San Francisco, Helvetica Neue, Arial;
  color-scheme: light dark;
}

#title {
    background-color: white;
    color: black;
    font-size: 5.5vh;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#title > span {
  font-size:60%;
}

a, a:hover, a:visited, a:active  {
  color:inherit;
  text-decoration: none;
 }

input[type=text], input[type=password], input[type=date], select, textarea {
  padding: 6px;
  margin-left: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=number] {
  padding: 4px;
  margin: 4px;
  width: 50px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

span {
  flex-grow: 1;
  padding: 12px 12px 12px 0;
}

.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 40px;
  margin-bottom: 64px !important;
}
@media (prefers-color-scheme: dark) {
  .container {
    background-color: #333333;

  }
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.floatright {
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color: #B22222;
  border: 1px solid #a11111;
  color: white;
  font-size: large;
  padding: 10px 24px 10px 24px;
  margin-top: 24px;
  float: right;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance:button;
}

input[type=button] {
  background-color: #B22222;
  border: 1px solid #a11111;
  color: white;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance:button;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    margin-top: 0;
  }
  input[type=submit]{
    margin-top: 12px;
  }
  input[type=password]{
    margin-left: 0px;
  }
  .container {
    padding: 8px;
    margin: 0px;
  }
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: smaller;
  width: 100%;
  background-color: #3b3b3b;
  color: #b3b3b3;
  padding: 5px;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: smaller;
  width: 100%;
  background-color: #3b3b3b;
  color: #b3b3b3;
  padding: 5px;
  text-align: center;
}
